#sources-filter-modal .cb-dialog-content {
	min-width: 136px;
	min-height: 48px;
	max-height: 256px;
	overflow-y: auto;
}

#sources-filter-modal .cb-dialog-content-label {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 16px;
	font-weight: 500;
	color: rgba(117, 117, 117, 0.87);
}

#sources-filter-modal .cb-dialog-content-item.select-all {
	padding-left: 16px;
	color: rgba(117, 117, 117, 0.87);
}

#sources-filter-modal .cb-dialog-content-item {
	padding-left: 25px;
}