#state-warning-list .md-button.md-icon-button {
    margin: 35px 15px 0 0 ;
    width: auto;
}

#state-warning-list .maps-link {
    font-size: 2.5em;
    color: #6b4949;
    position: absolute;
    right: 15px;
    top: 30px;
}

#state-warning-list .alert-icon {
    font-size: 1.5em;
}

#state-warning-list .message {
    color: rgba(0,0,0,0.8);
}
#state-warning-list .warning-date {
    color: rgba(56, 56, 56, 0.7);
}

#state-warning-list md-list-item.alto {
    background-color: #E57373;
}

#state-warning-list md-list-item.medio {
    background-color: #FFB74D;
}

#state-warning-list md-list-item.baixo {
    background-color: #FFF176;
}

#state-warning-list h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0;
}

#state-warning-list h2.alto {
    color: #822929;
}

#state-warning-list h2.medio {
    color: #885429;
}

#state-warning-list h2.baixo {
    color: #c3903c;
}