<ion-view>
	<ion-nav-title>
		Alertas
	</ion-nav-title>
	<ion-content id="state-warning-list">
		<md-content>
			<md-list>
				<md-subheader ng-if="vm.warnings.length" class="md-no-sticky">
					<md-icon class="alert-icon" md-font-icon="ion-alert-circled">
					</md-icon>
					{{ vm.warnings.length }} Alertas
				</md-subheader>
				<md-list-item class="md-2-line" ng-repeat="warning in vm.warnings" ng-class="warning.level">

					<div class="md-padding" flex>
						<div>
							<div class="md-list-item-text">
								<h2 ng-class="warning.level">{{warning.title}}</h2>
								<strong><span class="warning-date">{{ warning.beginDate | date: 'dd/MM/yyyy HH:mm' }}</span></strong>
							</div>
							<a class="maps-link" ng-click="vm.openLocation(warning.region.center.latitude, warning.region.center.longitude, warning.title)"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
						</div>
						<p class="message">{{warning.message}}</p>
					</div>
					<md-divider></md-divider>
				</md-list-item>

				<div ng-if="vm.populated && !vm.warnings.length" layout="row" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
					<div class="md-padding" style="padding: 20px;" layout="column" layout-align="center center">
						<div class="md-subhead" flex>Listagem de alertas dos bombeiros </div>
						<div style="color: #999;" flex>
							Nenhum alerta. <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</md-list>
		</md-content>
	</ion-content>
</ion-view>