.toast {
	text-align: center;
	height: 66px;
	max-height: none;
}

.toast .md-toast-content {
	background-color: #333;
	color: #fff;
}

.toast.success .md-toast-content {
	background-color: #a9cc64;
}

.toast.error .md-toast-content {
	background-color: #cc4b45;
}

.toast.info .md-toast-content {
	background-color: #7fc5d1;
}

.toast.warn .md-toast-content {
	background-color: #ffec6c;
}