<ion-view title="ES na Palma da Mão">
	<ion-content id="dashboard-tab-noticia">

		<md-content flex layout-padding>
			<img ng-src="{{vm.detalhe.imagem}}" class="md-card-image" alt="">
			<span class="outras-noticias-info-origem">{{noticia.orgao}} | {{vm.moment(noticia.data).fromNow()}}</span>
			<p ng-bind-html="vm.detalhe.corpo"></p>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button>NOTÍCIA ANTERIOR</md-button>
				<md-button>PRÓXIMA NOTÍCIA</md-button>
			</section>
		</md-content>

	</ion-content><!--Dashboard section-->
</ion-view>