.tabs-text-top > .tabs .tab-item {
    font-size: 14px;
    line-height: 49px;
	font-weight: 500;
}

/*.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px !important;
		height: 45px;
}
*/
.tab-item {
    max-width: none !important;
}

ion-tabs.tabs-striped.espm-tabs-color-active-material .tab-item.tab-item-active, 
ion-tabs.tabs-striped.espm-tabs-color-active-material .tab-item.active, 
ion-tabs.tabs-striped.espm-tabs-color-active-material .tab-item.activated {

    border-color: #C86673;
    color: rgb(32,139,170);
}


ion-content.espm-has-tabs-top {
    top: 0px;
}
