.tabs-text-top > .tabs .tab-item {
    font-size: 14px;
    line-height: 49px;
	font-weight: 500;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px !important;
}

.has-tabs-top {
    top: 45px !important;
}

.tab-item {
    max-width: none !important;
}

ion-tabs.tabs-striped.tabs-color-active-material-espm .tab-item.tab-item-active, 
ion-tabs.tabs-striped.tabs-color-active-material-espm .tab-item.active, 
ion-tabs.tabs-striped.tabs-color-active-material-espm .tab-item.activated {
    border-color: #C86673;
    color: rgb(32,139,170);
}
