<?xml version='1.0' encoding='utf-8'?>
<widget id="br.gov.es.prodest.espm" version="0.5.1" android-versionCode="2024" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ESPM</name>
    <description>		
        ES na Palma da Mão
    </description>
    <author email="presidente@prodest.es.gov.com" href="http://www.prodest.es.gov.br/">		
      Prodest
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="FullScreen" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <hook src="hook_scripts/after_prepare/010_add_platform_class.js" type="after_prepare" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.9.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.9.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.9.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.9.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.9.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.9.png" />

        <!--<config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="espm" android:host="acessocidadao" android:path="/" />
            </intent-filter>
        </config-file>-->
    </platform>
    <preference name="xwalkVersion" value="17+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <preference name="CrosswalkAnimatable" value="true" />
</widget>
