#state-noticia-lista .noticia-info-origem,
#state-noticia-lista .noticia-info-origem {
    opacity: 0.5;
    padding-left: 5px;
    border-left: 1px solid rgba(0,0,0,0.5);
}

#state-noticia-lista{ background-color: #fff !important;}
#state-noticia-lista md-card-title-media .md-media-md img {
    max-width: 112px;
    max-height: 112px;
    margin-top: 13px;
}

#state-noticia-lista .md-title.lista-noticias {
    font-weight: 400;
    font-size: 17px;
    display: block;
    line-height: 25px;
}

#state-noticia-lista .lista-noticias-info-origem {
    margin-top: 10px;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 1.2;
}

#state-noticia-lista md-list-item, md-list-item .md-list-item-inner {
    align-items: flex-start;
}

