<ion-view title="Notícias">
	<ion-content id="state-news-list">
		<md-toolbar class="md-hue-1">
			<div class="md-toolbar-tools">
				<md-button class="md-accent md-raised" ng-click="vm.openOriginsFilter($event)">
					Fontes
				</md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list flex>
				<div ng-repeat="news in vm.news">
					<md-list-item class="md-3-line" ng-click="vm.goToNews(news.id)">
						<md-card-title-text class="md-padding">
							<span class="md-title lista-noticias">{{news.title}}</span>
							<div>
								<span md-colors="::{color: 'accent'}">
									{{::news.origin}}
								</span>
								<span class="noticia-info-origem">
									 {{::news.date | fromNow }}
								</span>
							</div>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-md card-media">
								<img alt="" ng-src="{{news.image}}"/>
							</div>
						</md-card-title-media>

					</md-list-item>
					<md-divider></md-divider>
				</div>
			</md-list>
		</md-content>
	</ion-content>
	<!--Dashboard section-->
</ion-view>