#news-detail-component .noticia-info-origem,
#news-detail-component .noticia-info-origem {
	/*opacity: 0.5;*/
	padding-left: 5px;
	border-left: 1px solid #999;
	color: #999;
}

#news-detail-component * {
	background-color: #fff !important;
}

#news-detail-component .img-noticia-detalhe {
	width: 100%;
}

#news-detail-component .last-updated {
	color: #999;
}

#news-detail-component .news-body {
	flex-grow: 1;
}

#news-detail-component .news-body img {
	max-width: 100%;
}

#news-detail-component .back-button {
	font-size: 1.4em;
}

#news-detail-component h3 { margin-top: 0px;}

#btn-share { font-size: 24px; margin-right: 10px;}