<ion-view>
	<ion-nav-title>
		{{::vm.news.origin}}
		<span ng-if="!vm.news">Notícias</span>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
			<i class="ion-android-arrow-back"></i>
		</a>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a id="btn-share" ng-click="vm.share(vm.news)" class="button buttons button-clear header-item">
			<i class="ion-android-share-alt"></i>
		</a>
	</ion-nav-buttons>
	<spinner ng-if="uiState.loading"></spinner>
	<ion-content id="news-detail-component">
		<img ng-src="{{::vm.news.image}}" class="md-card-image img-noticia-detalhe" alt="">
		<div layout-padding layout="column" ng-if="::vm.news">
			<div>
				<span md-colors="::{color: 'accent'}">
					{{::vm.news.origin}}
				</span>
				<span class="noticia-info-origem">
					{{ ::vm.news.date | date: 'dd/MM/yyyy' }}
				</span>
				<br>
				<small ng-if="!moment(vm.news.date).isSame(vm.news.lastModified, 'day')" class="last-updated">Atualizada em: {{ ::vm.news.lastModified | date: 'dd/MM/yyyy' }}
				</small>
			</div>
			<h3>{{::vm.news.title}}</h3>
			<p ng-bind-html="::vm.news.body" class="news-body"></p>
		</div>
		<error-message error="uiState.error"></error-message>
	</ion-content>
</ion-view>