/*
body {
	font-family: Raleway, Roboto, Helvetica Neue, sans-serif !important;
}
*/

* { box-sizing: border-box; }

.img-circle {
	border-radius: 50%;
}

img {
	vertical-align: middle;
}

#governo-logo {
	margin: 25px auto;
	max-width: 75%;
}

#espm-sidenav {
	color: #fff;
}

#espm-sidenav header {
	flex-shrink: 0;
	z-index: 2;
	background-color: #057696;
}

#espm-sidenav .app-name {
	color: #fff;
	font-size: 19px;
	letter-spacing: 0.005em;
	text-decoration: none;
	background-color: #3298b5;
	display: block;
	padding: 15px 10px;
	width: 100%;
	text-align: center;
}

#espm-sidenav .app-name:hover,
#espm-sidenav .app-name:focus {
	text-decoration: none;
}

#espm-sidenav header .app-name i {
	margin-right: 10px;
	padding: 25px 0;
}

.profile-img {
	width: 40px;
}

.espm-main-toolbar {
	background: #f6f6f6 !important;
	color: #202020 !important;
	z-index: 3;
}

.espm-main-toolbar button {
	font-size: 20px;
}

#menu-sidebar {
	margin: 20px 0 0 0;
	padding: 0;
}

#menu-sidebar li {
	margin: 0;
	padding: 0;
}

#menu-sidebar .md-button {
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	align-items: inherit;
	line-height: 40px;
	margin: 0;
	max-height: 40px;
	overflow: hidden;
	padding: 0px 16px;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	width: 100%;
}

#menu-sidebar ul {
	margin: 0;
	padding: 0;
}

#menu-sidebar ul li .md-button {
	display: block;
	padding: 0 16px 0 32px;
	text-transform: none;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

#menu-sidebar .md-button.active {
	background: #3298b5;
}

#menu-sidebar .md-button:hover,
#menu-sidebar .md-button:focus {
	background: #3298b5 !important;
}