<html lang="pt-br">
	<head>
		<!-- Meta, title, CSS, favicons, etc. -->
		<title update-title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" href="http://www.cdn.prodest.es.gov.br/images/favicons/governo/favicon.ico" type="image/x-icon">
		<!--<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,500" rel="stylesheet" type="text/css">-->
		<!--<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,500" rel="stylesheet" type="text/css">
		<link href="lib/github/twbs/bootstrap@3.3.6/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="lib/npm/font-awesome@4.5.0/css/font-awesome.css" rel="stylesheet" type="text/css">
		<link href="components/app-core-web/app-bootstrap-overrides.css" rel="stylesheet" type="text/css">
		<link href="components/app-core-web/app.css" rel="stylesheet" type="text/css">-->

		<script src="lib/system.js"></script>
		<script src="system.config.js"></script>
		<script>
			System.import( 'angular-material/angular-material.css!' );
			System.import( 'components/app-core-web/app.css!' );
			System.import( 'font-awesome' );
			System.import( 'robotoDraft/robotodraft.css!' );
		</script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body ng-controller="appController as vm" layout="row" ng-cloak>

		<!-- <script src="web/system.yuml.js"></script>-->

		<md-sidenav id="espm-sidenav"
					md-whiteframe="3"
					md-component-id="espm-sidenav"
					class="material-background"
					md-is-locked-open="$mdMedia('gt-sm')"
					layout="column"
					flex="30"
					flex-lg="20"
					flex-gt-lg="15">
			<header layout="column" layout-align="center center" md-whiteframe="4">
				<img id="governo-logo" src="components/app-core-web/img/brasao-governo-horizontal.png">

				<a href="index.html" class="app-name md-title">
					<i class="fa fa-hand-paper-o"></i>ES na Palma da Mão
				</a>
			</header>
			<section>
				<!--<div layout="row" layout-align="center center" class="profile">
					<div flex="25" flex-offset="10">
						<img src="components/app-layout/sidebar/img/img.jpg" alt="" class="img-circle profile-img">
					</div>
					<div flex>
						Daniel Hoisel
					</div>
				</div>-->
				<ul id="menu-sidebar">
					<li>
						<md-button>DETRAN</md-button>
						<ul>
							<li>
								<md-button ui-sref="app.dashboard">DashBoard</md-button>
							</li>
							<li>
								<md-button ui-sref="app.configuracoes">Configurações</md-button>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</md-sidenav>
		<div layout="column" flex>
			<!--		<md-toolbar md-whiteframe="1" class="espm-main-toolbar">

					</md-toolbar>-->
			<md-toolbar md-whiteframe="1"
						layout="row"
						layout-align="space-between center"
						class="espm-main-toolbar">
				<md-button class="md-accent md-icon-button" aria-label="Menu">
					<md-tooltip md-direction="right">
						Fechar o menu
					</md-tooltip>
					<md-icon md-font-icon="fa fa-bars"></md-icon>
				</md-button>

				<div id="profile">
					<span class="md-subhead">Daniel Hoisel</span>
					<img src="components/app-layout/sidebar/img/img.jpg"
						 alt=""
						 class="img-circle profile-img">
					<md-button class="md-icon-button" aria-label="Mais">
						<md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content md-scroll-y layout="column" flex>
				<div layout-padding flex="noshrink">
					<ui-view name="page"></ui-view>
				</div>
				<div layout="row" md-whiteframe="6" style="height: 40px;" layout-align="center center" aria-hidden="false">
					<div id="license-footer">
						<span id="copyright">&copy; 2016 - ES na palma da mão </span>
					</div>
				</div>
			</md-content>
		</div>

		<!--<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">Sidenav Left</h1>
				</md-toolbar>
				<md-content layout-padding>
					<md-button ng-click="close()" class="md-primary" hide-gt-md>
						Close Sidenav Left
					</md-button>
					<p hide-md show-gt-md>
						This sidenav is locked open on your device. To go back to the default behavior,
						narrow your display.
					</p>
				</md-content>
			</md-sidenav>
			<md-content flex layout-padding>
				<div layout="column" layout-fill layout-align="top center">
					<p class="md-body-2">Body copy with medium weight.</p>
					<md-button>Button</md-button>
					<p class="md-body-1">Regular body copy
						<small class="md-caption">with small text</small>
					</p>
					<span class="md-caption">Caption</span>
					<md-checkbox>
						Green Checkbox
					</md-checkbox>
				</div>
				<div flex></div>
			</md-content>
		</section>-->

		<!-- PROD
		<script>
			var systemLocate = System.locate;
			System.locate = function(load) {
				var System = this;
				return Promise.resolve(systemLocate.call(this, load)).then(function(address) {
					if(address.indexOf('bust') > -1 ||
					address.indexOf('css') > -1 ||
					address.indexOf('json') > -1) return address;
					return address + System.cacheBust;
				});
			}
			System.cacheBust = '?bust={{hash}}';
		</script>
		END -->
		<!--<script>
			System.config({
			   baseURL: '/'
			});
		</script>-->
		<script>
			System[ 'import' ]( 'components/app-core-web/index' );
		</script>
	</body>
</html>