<ion-view>
    <ion-nav-title>
		Multas por Veículo
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<div class="espm-ion-nav-buttons">
			<md-button ng-if="vm.vehicles.length"
                       class="md-icon-button"
					   ng-click="vm.editing = !vm.editing"
					   aria-label="Editar">
				<md-icon ng-if="!vm.editing" md-font-icon="ion-compose">
				</md-icon>
                <md-icon ng-if="vm.editing" md-font-icon="ion-checkmark">
				</md-icon>
			</md-button>
		</div>
	</ion-nav-buttons>
       <md-button id="detran-btn-add-car" 
                  class="md-fab md-primary" 
                  aria-label="Adicionar novo veículo" 
                  ng-if="!vm.editing" 
                  ng-click="vm.addVehicle()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </md-button>
    <ion-content id="detran-vehicles">
        <md-content>
            <md-list ng-class="{ editing: vm.editing }">
                <md-subheader ng-if="vm.vehicles.length" class="md-no-sticky">
                    {{ vm.vehicles.length }} veículos cadastrados
                    <!--<small ng-if="vm.vehicles.length" id="disclaimer" class="md-padding">Esta pesquisa tem caráter informativo. Não pode ser utilizada como certidão de prontuário.</small>-->
                </md-subheader>
                <md-list-item class="md-2-line" ng-repeat="vehicle in vm.vehicles">
                    <div class="md-padding" flex>
                        <div class="md-list-item-text md-padding">
                            <h4>
                                <i class="fa fa-car" aria-hidden="true"></i> &nbsp;
                                <strong>{{$index + 1}}° Veículo</strong>
                            </h4>
                            <h5><small>Placa: </small>{{::vehicle.plate}}</h5>
                            <h5><small>RENAVAM: </small>{{::vehicle.renavam}}</h5>
                        </div>
                    </div>

                    <md-button ng-if="!vm.editing" class="md-accent md-icon-button" ng-click="::vm.viewTickets( vehicle )">
						VER MULTAS	
					</md-button>

                    <md-button ng-if="vm.editing" class="md-accent md-icon-button" ng-click="::vm.removeVehicle( vehicle )">
                        REMOVER
                    </md-button>

                    <md-divider></md-divider>
                </md-list-item>
                <div ng-if="!vm.vehicles.length" layout="row" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
                    <div class="md-padding" style="padding: 20px;" layout="column" layout-align="center center">
                        <div class="md-subhead" flex>Consulta de multas por veículo </div>
                        <div style="color: #999;" flex>
                            Nenhum veículo cadastrado
                        </div>
                    </div>
                </div>
            </md-list>
        </md-content>
    </ion-content>
</ion-view>