
#detran-vehicles .md-button.md-icon-button {
    margin: 8px 0 0 0;
    width: auto;
}

#detran-btn-add-car{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(255,255,255,1);
}

#detran-vehicles #disclaimer {
    margin: 10px 0 0 0;
    display: block;
    opacity: 0.8;
    padding: 0;
}

#detran-vehicles .editing .md-list-item-text h4, 
#detran-vehicles .editing .md-list-item-text h5 {
    color: #888 !important;
}


#add-vehicle md-dialog-content md-input-container {
    margin: 5px 0 0 0 !important;
}

#add-vehicle md-dialog-content md-input-container:first-child {
    margin-top: 25px  !important;
}