#states-news-highlights { background-color: #f1f1f1; }

#states-news-highlights .noticia-info-origem,
#states-news-highlights .noticia-info-origem {
	opacity: 0.5;
	padding-left: 5px;
	border-left: 1px solid rgba(0,0,0,0.5);
}

#states-news-highlights .outras-noticias-info-origem {
	margin-top: 10px;
	opacity: 0.5;
	font-size: 14px;
	font-weight: 500;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	line-height: 1.2;
}

#states-news-highlights md-card md-card-title md-card-title-media .md-media-md {
	height: auto !important;
	max-height: 112px;
}

#states-news-highlights .md-title.outras-noticias {
	font-weight: 400;
	font-size: 18px;
}
