<ion-header>
	<ion-navbar primary>
		<button menuToggle>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Consulta SEP
		</ion-title>
	</ion-navbar>
	<ion-toolbar primary>
		<ion-searchbar (search)="getProcess( search.value )" #search placeholder="Nº do Processo"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content id="search-process-component">
	<ion-list *ngIf="hasProcess">
		<ion-item>
			<div class="col-50 title">
				<strong>Número</strong>
			</div>
			<div class="col-50">
				{{process.number}}
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Autuado em</strong>
			</div>
			<div class="col-50">
				{{firstUpdate.date | date:"dd/MM/yyyy"}}
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Assunto</strong>
			</div>
			<div class="col-50">
				{{process.subject | capitalize}}
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Partes</strong>
			</div>
			<div class="col-50">
				<p *ngFor="#part of process.parts">{{part | capitalize}} </p>
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Município</strong>
			</div>
			<div class="col">
				{{process.district | capitalize}}
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Informações diversas</strong>
			</div>
			<div class="col">
				{{process.extra | capitalize:false }}
			</div>
		</ion-item>

		<ion-item>
			<div class="item-text-padding">
				<strong>Resumo</strong>
				<p>{{process.summary | capitalize:false}}</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Situação</strong>
			</div>
			<div class="col">
				{{process.status | capitalize}}
			</div>
		</ion-item>

		<ion-item id="last-update">
			<div class="espm-list-item-group">
				<strong>Última Atualização</strong>
				<p>{{lastUpdate.date | date:"dd/MM/yyyy HH:mm"}}</p>
				<p>{{lastUpdate.area | capitalize}}</p>
				<p>{{lastUpdate.agency | capitalize}}</p>
			</div>
			<button clear accent class="more-updates" (click)="toggleUpdates()">{{seeMoreUpdates}}</button>
		</ion-item>
		<div class="espm-item-transition" *ngIf="showAllUpdates">
			<ion-item *ngFor="#update of hiddenUpdates">
				<div class="other-updates">
					<strong>{{update.date | date:"dd/MM/yyyy HH:mm"}}</strong>
					<p md-colors="::{color: 'accent'}">{{update.status | capitalize}}</p>
					<p>{{update.area | capitalize}}</p>
					<p>{{update.agency | capitalize}}</p>
				</div>
			</ion-item>
		</div>
	</ion-list>

	<!-- In case no process is found -->
	<div *ngIf="populated && !hasProcess">
		<div padding>
			<h5 text-center>Nenhum processo encontrado</h5>
			<h6 text-center class="msg-subtitle">Verifique o número informado</h6>
			<hr />
		</div>
	</div>
</ion-content>