#search-process-component {
    background-color: rgb(250,250,250);

    .item-text-padding {
        padding-top: 5px;
    }

    .more-updates {
        float: right;
    }

    .other-updates {
        margin-left: 10px;
    }

    .msg-subtitle {
        color: #999;
    }

    ion-list {
        margin-bottom: 0;
        
        .espm-list-item-group {
            float: left;
        }
    }
}
