<ion-toolbar primary>
  <ion-searchbar (input)="getItems($event)"></ion-searchbar>
</ion-toolbar>

<ion-content id="state-sep-consulta">
	<ion-list [hidden]="hasProcess">
		<ion-item>
			<div class="col-50 title">
				<strong>Autuado em</strong>
			</div>
			<div class="col-50">
				{{vm.firstUpdate.date}}
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Autuado em</strong>
			</div>
			<div class="col-50">
				{{vm.firstUpdate.date}}
			</div>
		</ion-item>
		
		<ion-item>
			<div class="col-50 title">
				<strong>Assunto</strong>
			</div>
			<div class="col-50">
				{{vm.process.subject}}
			</div>
		</ion-item>
		
		<ion-item>
			<div class="col-50 title">
				<strong>Partes</strong>
			</div>
			<div class="col-50">
				<span ng-repeat="part in vm.process.parts">{{part}} </span>
			</div>
		</ion-item>

		<ion-item>
			<div class="col-50 title">
				<strong>Município</strong>
			</div>
			<div class="col">
				{{vm.process.district}}
			</div>
		</ion-item>
		
		<ion-item>
			<div class="col-50 title">
				<strong>Informações diversas</strong>
			</div>
			<div class="col">
				{{vm.process.extra}}
			</div>
		</ion-item>
		
		<ion-item>
			<div class="item-text-padding">
				<strong>Resumo</strong>
				<p>{{vm.process.summary}}</p>
			</div>
		</ion-item>
		
		<ion-item>
			<div class="col-50 title">
				<strong>Situação</strong>
			</div>
			<div class="col">
				{{vm.process.status}}
			</div>
		</ion-item>
		
		<ion-item id="last-update">
			<div class="item-text-padding">
				<strong>Última Atualização</strong>
				<p>{{vm.lastUpdate.date}}</p>
				<md-button class="md-secondary more-updates md-accent" ng-click="vm.toggleUpdates()">{{vm.seeMoreUpdates}}</md-button>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<p>{{vm.lastUpdate.area}}</p>
				<p>{{vm.lastUpdate.agency}}</p>
			</div>
		</ion-item>
		<div class="espm-item-transition" *ngIf="showAllUpdates">
			<ion-item *ngFor="#update of hiddenUpdates">
				<div class="other-updates">
					<strong>{{update.date}}</strong>
					<p md-colors="::{color: 'accent'}">{{update.status}}</p>
					<p>{{update.area}}</p>
					<p>{{update.agency}}</p>
				</div>
			</ion-item>
		</div>
	</ion-list>

	<!-- In case no process is found -->
	<div *ngIf="populated && !hasProcess">
		<div md-padding>
			<div class="md-subhead">Nenhum processo encontrado</div>
			<div>Verifique o número informado</div>
		</div>
	</div>
</ion-content>
