<ion-view title="Consulta SEP">

	<div class="bar bar-subheader state-sep-subheader">
		<md-input-container md-no-float class="md-block md-whiteframe-2dp">
			<input ng-model="vm.processNumber" type="number" placeholder="Número do Processo">
			<md-icon style="display:inline-block;" ng-click="vm.getProcess(vm.processNumber)"><i class="fa fa-search" aria-hidden="true"></i></md-icon>
		</md-input-container>
	</div>

	<ion-content id="state-sep-consulta" class="md-espm-content has-subheader" scroll-watch scroll-class="fix-top" class-target=".state-sep-subheader"
		offset="25">
		<md-content class="md-padding">
			<md-list id="device-information-content" class="fade-in" ng-show="vm.hasProcess">
				<md-list-item class="row">
					<div class="col-50 title">
						<strong>Autuado em</strong>
					</div>
					<div class="col-50">
						{{vm.firstUpdate.date | calendar}}
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="row">
					<div class="col-50 title">
						<strong>Assunto</strong>
					</div>
					<div class="col-50">
						{{vm.process.subject}}
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="row">
					<div class="col-50 title">
						<strong>Partes</strong>
					</div>
					<div class="col-50">
						<span ng-repeat="part in vm.process.parts">{{part}} </span>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div class="col-50 title">
						<strong>Município</strong>
					</div>
					<div class="col">
						{{vm.process.district | capitalize}}
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div class="col-50 title">
						<strong>Informações diversas</strong>
					</div>
					<div class="col">
						{{vm.process.extra}}
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div class="item-text-padding">
						<strong>Resumo</strong>
						<p>{{vm.process.summary}}</p>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<div class="col-50 title">
						<strong>Situação</strong>
					</div>
					<div class="col">
						{{vm.process.status  | capitalize}}
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item id="last-update">
					<div class="item-text-padding">
						<strong>Última Atualização</strong>
						<p>{{vm.lastUpdate.date | calendar}}</p>
						<md-button class="md-secondary more-updates md-accent" ng-click="vm.toggleUpdates()">{{vm.seeMoreUpdates}}</md-button>
					</div>
				</md-list-item>
				<md-list-item>
					<div>
						<p>{{vm.lastUpdate.area | capitalize}}</p>
						<p>{{vm.lastUpdate.agency | capitalize}}</p>
					</div>
				</md-list-item>
				<div class="espm-item-transition" ng-show="vm.showAllUpdates">
					<md-list-item ng-repeat="update in vm.hiddenUpdates">
						<div class="other-updates">
							<strong>{{update.date | calendar}}</strong>
							<p md-colors="::{color: 'accent'}">{{update.status | capitalize}}</p>
							<p>{{update.area | capitalize}}</p>
							<p>{{update.agency | capitalize}}</p>
						</div>
					</md-list-item>
				</div>
			</md-list>
			<div ng-show="vm.populated && !vm.hasProcess" layout="row" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
				<div class="md-padding" style="padding: 20px;">
					<div class="md-subhead">Nenhum processo encontrado</div>
					<div style="color: #999;">Verifique o número informado</div>
				</div>
			</div>
		</md-content>
	</ion-content>
	<!--Dashboard section-->
</ion-view>