<ion-view title="Consulta SEP">

	<div class="bar bar-subheader state-sep-subheader">
		<md-input-container md-no-float class="md-block md-whiteframe-2dp">
			<input class="input-search" ng-model="vm.processNumber" type="tel" placeholder="Número do Processo">
			<md-icon style="display:inline-block;" ng-click="vm.getProcess(vm.processNumber)"><i class="fa fa-search" aria-hidden="true"></i></md-icon>
		</md-input-container>
	</div>

	<spinner ng-if="uiState.loading"></spinner>

	<ion-content id="state-sep-consulta" class="has-subheader" scroll-watch scroll-class="fix-top" class-target=".state-sep-subheader"
		offset="25">
		<md-list id="device-information-content" class="fade-in" ng-if="vm.process">
			<md-list-item class="row">
				<div class="col-50 title">
					<strong>N° do Processo</strong>
				</div>
				<div class="col-50">
					<h4 class="accent"> {{vm.process.number}}</h4>
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item>
				<div class="col-50 title">
					<strong>Situação</strong>
				</div>
				<div class="col-50">
					{{::vm.process.status | capitalize}}
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item class="row" ng-if="vm.lastUpdate">
				<div class="col">
					<strong>Último Andamento</strong>
					<div><strong>Data: </strong>{{vm.lastUpdate.date | calendar}}</div>
					<div><strong>Órgão: </strong>{{vm.lastUpdate.agency | capitalize}}</div>
					<div><strong>Local: </strong>{{vm.lastUpdate.area | capitalize}}</div>
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item class="row">
				<div class="col-50 title">
					<strong>Assunto</strong>
				</div>
				<div class="col-50">
					{{vm.process.subject | capitalize}}
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item class="row">
					<div class="col">
					<strong>Resumo</strong>
					<p>{{vm.process.summary | capitalize}}</p>
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item>
				<div class="col-50 title">
					<strong>Informações diversas</strong>
				</div>
				<div class="col-50">
					{{vm.process.extra}}
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item class="row">
				<div class="col-50 title">
					<strong>Interessado(s)</strong>
				</div>
				<div class="col-50">
					<div ng-repeat="part in vm.process.parts"> - {{part | capitalize}} </div>
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item>
				<div class="col-50 title">
					<strong>Município</strong>
				</div>
				<div class="col-50">
					{{vm.process.district | capitalize}}
				</div>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item ng-if="vm.process.updates">
				<div>
					<strong>Histórico</strong>
					<md-button class="md-secondary more-updates md-accent" ng-click="vm.toggleUpdates()">
						<span ng-show="!vm.showAllUpdates">VER</span>
						<span ng-show="vm.showAllUpdates">ESCONDER</span>
					</md-button>
				</div>
			</md-list-item>
			<md-list-item class="row" ng-show="vm.showAllUpdates" ng-if="::vm.process.updates">
				<div class="col">
					<div ng-repeat="update in vm.process.updates" style="padding: 10px 0 10px 10px;">
						<div><strong>{{::update.date | calendar}}</strong></div>
						<div> <span class="accent"> {{::update.status | capitalize}}</span></div>
						<div> <strong ng-if="::update.agency">Órgão: </strong> {{::update.agency | capitalize}}</div>
						<div> <strong ng-if="::update.area">Local: </strong> {{::update.area | capitalize}}</div>
					</div>
				</div>
			</md-list-item>
		</md-list>

		<message ng-if="!vm.searched" text="Sistema Eletrônico de Protocolo">
			<img src="components/sep/img/sep-logo.png">
			<remark>Digite o número do processo que deseja consultar no campo acima e clique na lupa</remark>
		</message>

		<error-message error="uiState.error">
			<remark ng-if="!uiState.error.handled">Não foi possível consultar o SEP</remark>
			<div ng-if="uiState.error.status === 404">
				<highlight>"{{::vm.lastProcessNumber}}"</highlight>
				<remark>Verifique o número informado</remark>
			</div>
		</error-message>
	</ion-content>
</ion-view>