
#state-sep-consulta .more-updates {
    float: right;
}


#state-sep-consulta md-list {
    padding-top: 0;
}

#state-sep-consulta .accent {
	color: #c86673;
}


#state-sep-consulta .col > strong {
    margin-bottom: 10px;
    display: block;
}

#state-sep-consulta .col{
    padding: 10px 0;
}


.state-sep-subheader input.input-search {
    border: none !important;
}

.state-sep-subheader {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: none;
    background-color: rgb(250,250,250);
}

.state-sep-subheader.fix-top {
    padding: 0;
}

.state-sep-subheader md-input-container {
    width: 100%;
}

.state-sep-subheader md-input-container md-icon {
    font-size: 1.4em;
}

.state-sep-subheader md-input-container.md-icon-right {
    padding: 5px;
    margin: 0px;
    height: 38px;
    background-color: white;
}
