<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<!-- Meta section -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<meta name="format-detection" content="telephone=no"> <!-- To disable phone number typing.-->
		<!-- end Meta section -->

		<title></title>

		<!-- Cordova script (this will be a 404 during development) -->
		<!-- <script src="lib/ngCordova/dist/ng-cordova.js"></script>-->
		<script src="cordova.js"></script>
		<!-- end Cordova script -->

		<script src="lib/system.js"></script>
		<script src="app/system.config.js"></script>
		<script>
			System.import( 'app/components/app-core-mobile/app.css!' );
			System.import( 'angular-material/angular-material.css!' );
			System.import( 'font-awesome' );
			System.import( 'robotoDraft/robotodraft.css!' );
		</script>
	</head>

	<body class="hide-native-scroll-y">
		<ion-nav-view></ion-nav-view>
		<script>
			System[ 'import' ]( 'app/components/app-core-mobile/index.js' );
		</script>
	</body>
</html>