<ion-view title="Ceturb - Consulta de Ônibus">

	<div class="bar bar-subheader state-ceturb-subheader">
		<md-input-container md-no-float class="md-block md-whiteframe-2dp">
			<input class="input-search" ng-model="vm.filter" ng-model-options="{ debounce: 500 }" ng-change="vm.filterLines(vm.filter)" type="text" placeholder="Pesquisar Linhas de Ônibus">
			<md-icon style="display:inline-block;"><i class="fa fa-search" aria-hidden="true"></i></md-icon>
		</md-input-container>
	</div>

	<div class="spinner-container" ng-if="uiState.loading">
		<ion-spinner icon="android"></ion-spinner>
	</div>

	<ion-content id="state-ceturb-bus-lines"
				 class="has-subheader" 
				 scroll-watch scroll-class="fix-top" 
				 class-target=".state-ceturb-subheader"
				 offset="25">
		<md-list ng-if="vm.linesPopuled">
			<md-list-item class="md-2-line" collection-repeat="line in vm.filteredLines | orderBy:['-isFavorite', 'number']">
				<div layout="row" class="md-list-item-text">
					<strong class="line-number" flex="1" ng-click="vm.toggleFavorite(line)">
						<i class="fa fa-star-o" aria-hidden="true" ng-if="!line.isFavorite"></i> 
						<i class="fa fa-star" aria-hidden="true" ng-if="line.isFavorite"></i>
						{{line.number}}
					</strong> 
					<span ng-click="::vm.goToLine( line.number )" class="line-description" flex> {{line.name}}</span>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>

		<error-message error="uiState.error">
			<remark ng-if="!uiState.error.handled">Não foi possível consultar linhas de ônibus</remark>
		</error-message>
		
		<message ng-if="vm.linesPopuled && !vm.foundLines" text="Nenhum resultado encontrado para">
			<highlight>"{{vm.filter}}"</highlight>
			<remark>Tente mudar o filtro da consulta</remark>
		<message>
	</ion-content>
</ion-view>