
#state-ceturb-bus-lines .accent {
	color: #c86673;
}

#state-ceturb-bus-lines .line-description,
#state-ceturb-bus-lines .line-number{ line-height: 25px; margin-right: 10px; }
#state-ceturb-bus-lines .fa-star,
#state-ceturb-bus-lines .fa-star-o{ 
    line-height: 25px;
    padding: 0 10px 0 0;
 }

#state-ceturb-bus-lines .scroll, 
#state-ceturb-bus-lines .collection-repeat-after-container{ 
    height: 100%;
    position: static;
}

.state-ceturb-subheader {
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    background: none;
    background-color: rgb(250,250,250);
}

.state-ceturb-subheader.fix-top {
    padding: 0;
}

.state-ceturb-subheader md-input-container {
    width: 100%;
}

.state-ceturb-subheader md-input-container md-icon {
    font-size: 1.4em;
}

.state-ceturb-subheader md-input-container.md-icon-right {
    padding: 5px;
    margin: 0px;
    height: 38px;
    background-color: white;
}

.state-ceturb-subheader input.input-search {
    border: none !important;
}
