<ion-view title="Diário Oficial ES">
	<spinner ng-if="uiState.loading"></spinner>
	<ion-content id="dio-latest">
		<md-list ng-if="vm.latestEditions.length">
			<md-subheader class="md-no-sticky">Edições Recentes</md-subheader>
			<md-list-item class="md-2-line" ng-repeat="edition in vm.latestEditions">
				<div class="md-list-item-text">
					<h4 class="text-padding"><strong>{{ ::edition.date }}</strong> - Diário Oficial do ES</h4>
				</div>
				<div class="btn-download">
					<md-button class="md-accent md-icon-button" ng-click="vm.openEdition( edition.url )">
						BAIXAR <i class="fa fa-download" aria-hidden="true"></i>
					</md-button>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
		<error-message error="uiState.error">
			<remark ng-if="!uiState.error.handled">Erro ao carregar as edições recentes do DIO/ES</remark>
		</error-message>
	</ion-content>
</ion-view>