#dio-latest .ion-ios-download-outline:before {
    font-size: 25px;
    color: #c86673;
}


#dio-latest .md-button {
    font-size: 12px;
    padding: 0 3px;
    line-height: 28px;
    min-height: 24px;
    min-width: 66px;
}


#dio-latest md-list-item.md-2-line,
#dio-latest md-list-item.md-2-line >._md-no-style {
    height: 50px;
	min-height: 50px;
}

 #dio-latest .btn-download {
     padding: 8px 8px 8px 0;
 }

 #dio-latest .text-padding {
     padding: 8px 0 8px 8px;
 }
 