#dio-latest .ion-ios-download-outline:before {
    font-size: 25px;
    color: #c86673;
}


#dio-latest md-content .md-button {
    font-size: 12px;
    padding: 0 3px;
    line-height: 28px;
    min-height: 24px;
    min-width: 66px;
}


#dio-latest md-list-item.md-2-line,
#dio-latest md-list-item.md-2-line >._md-no-style {
    height: 50px;
	min-height: 50px;
}
