<md-dialog aria-label="Adicionar veículo" id="add-vehicle">
	<md-dialog-content class="md-padding">
		<h4 class="text-center">Adicionar Veículo</h4>
		<md-input-container md-no-float class="md-block">
			<label>Placa</label>
			<input ng-model="vm.plate" name="plate" input-return>
		</md-input-container>

	    <md-input-container md-no-float class="md-block">
			<label>RENAVAM</label>
			<input type="number" ng-model="vm.renavam" name="renavam" input-return>
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="vm.cancel()" class="md-primary">Cancelar</md-button>
		<md-button ng-click="vm.ok(vm.plate, vm.renavam)" class="md-primary">Adicionar</md-button>
	</md-dialog-actions>
</md-dialog>
