<ion-view>
	<ion-nav-title>Informações - Linha {{::vm.route.line.number}}</ion-nav-title>
	<ion-nav-buttons side="left">
		<a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
			<i class="ion-android-arrow-back"></i>
		</a>
	</ion-nav-buttons>
	<spinner ng-if="uiState.loading"></spinner>
	<ion-content id="state-ceturb-bus-info" class="espm-has-tabs-top" on-swipe-left="vm.gotoTab(1)" on-swipe-right="vm.gotoTab(0)">
		<ion-tabs class="tabs-text-top espm-tabs-color-active-material" animation="slide-left-right">
			<ion-tab title="HORÁRIOS" class="md-primary-color-bg">
				<ion-view>
					<ion-content>
						<md-list ng-repeat="departure in vm.schedule.departures track by $index" ng-cloak>
							<h5 class="md-padding text-center">Saindo de {{::departure.terminal}}</h5>
							<div ng-repeat="dayGroup in departure.dayGroups">
								<md-subheader class="md-no-sticky md-accent">
									{{::dayGroup.name}}
									<br />
									<span class="list-note-subheader">Início da Operação {{::dayGroup.beginDate}}</span>
								</md-subheader>
								<md-list-item>
									<div class="md-padding wrap-hours" layout="row">
										<span ng-repeat="hour in dayGroup.schedule track by $index" class="hour" ng-class="{ 'perdeu-busao': vm.beforeNow(hour) }">{{::hour}}</span>
									</div>
								</md-list-item>
							</div>
							<md-divider ng-if="$index === 0"></md-divider>
						</md-list>
						<md-list ng-cloak>
							<md-subheader ng-if="vm.schedule.notes.length" class="md-no-sticky md-accent">Observações</md-subheader>
							<md-list-item ng-repeat="note in vm.schedule.notes">
								<div layout="row" class="md-list-item-text">
									<strong class="line-notes" flex="1">{{::note.type}}</strong> <span flex>{{::note.description}}</span>
								</div>
							</md-list-item>
						</md-list>
					</ion-content>
				</ion-view>
			</ion-tab>

			<ion-tab title="ITINERÁRIO" class="md-primary-color-bg">
				<ion-view>
					<ion-content>
						<md-list ng-cloak>
							<h5 class="md-padding text-center">{{vm.route.line.name}}</h5>
							<div ng-repeat="direction in vm.route.directions">
								<md-subheader class="md-no-sticky md-accent">{{direction.type}}</md-subheader>
								<md-list-item class="itinerario" ng-repeat="path in direction.paths track by $index" ng-click="vm.openMapLink( path )" layout="row">
									<div flex> {{$index + 1}} - {{path}}</div>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</md-list-item>
							</div>
						</md-list>
					</ion-content>
				</ion-view>
			</ion-tab>
		</ion-tabs>
	</ion-content>
</ion-view>