 #state-ceturb-bus-info md-list-item.wrap-hours {
	 -ms-flex-wrap: wrap;
	     flex-wrap: wrap;
 }

#state-ceturb-bus-info md-list {
	padding: 1px 0;
}

#state-ceturb-bus-info md-list-item.itinerario i {
	color: #c86673;
}

#state-ceturb-bus-info .list-note-subheader {
	font-size: 0.8em;
	opacity: 0.8;
}


#state-ceturb-bus-info .wrap-hours .hour {
	 margin-left: 5px;
	 margin-bottom: 2px;
	 min-width: 51px;
 }

#state-ceturb-bus-info .wrap-hours {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
}

#state-ceturb-bus-info .line-notes {
	margin-right: 20px;
}

#state-ceturb-bus-info .line-notes-title {
	color: #c86673;
}

#state-ceturb-bus-info .perdeu-busao {
	color: #afafaf;
}
