<ion-view title="Consulta CETURB">

	<div class="bar bar-subheader state-ceturb-subheader">
		<md-input-container md-no-float class="md-block md-whiteframe-2dp">
			<input ng-model="vm.filter" type="number" placeholder="Filtro">
			<md-icon style="display:inline-block;" ng-change="vm.getLines(vm.filter)"><i class="fa fa-search" aria-hidden="true"></i></md-icon>
		</md-input-container>
	</div>

	<ion-content id="state-ceturb-bus-info" class="md-espm-content has-subheader" scroll-watch scroll-class="fix-top" class-target=".state-sep-subheader"
		offset="25">
		<md-content class="md-padding">
			<md-list id="device-information-content" class="fade-in" ng-show="vm.hasLines">
				<md-list-item class="row" ng-repeat="line in vm.lines">
					<div class="col-30 title">
						<strong>{{lines.number}}</strong>
					</div>
					<div class="col-50">
						{{line.name}}
					</div>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
			<div ng-show="vm.populated && !vm.hasLines" layout="row" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
				<div class="md-padding" style="padding: 20px;">
					<div class="md-subhead">Nenhum registro encontrado</div>
					<div style="color: #999;">Verifique o filtro informado</div>
				</div>
			</div>
		</md-content>
	</ion-content>
	<!--Dashboard section-->
</ion-view>
