@import "../../app/app.variables";

ion-content{
   background-color: #f4f4f4; 
   
        [detail]{
            font-size: 1.3rem;
            margin-top: 9px;
            color: #9c9c9c;
            display: inline-block;

             &[accent]{
                color: color( $colors, accent, base );
             }
        }

        .msg-subtitle {
            color: #999;
        }

        #btn-filtro{margin-top:-7px;}

        .alert-checkbox[aria-checked=true] .alert-checkbox-icon {
            background-color: #c86673;
            border-color: #c86673;
        }
}