<ion-header>
	<ion-navbar primary>
		<button menuToggle>
		<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Notícias
		</ion-title>
		<ion-buttons end>
			<button (click)="showFilterModal()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let news of loadedNews" (click)="goToNews( news.id, news.origin )">
			<ion-thumbnail item-right *ngIf="news.image">
				<img [src]="news.image"/>
			</ion-thumbnail>
			<h2>{{news.title}}</h2>
			<span detail accent>{{news.origin}}</span> <span detail>| {{ news.date | fromNow }}</span>
		</ion-item>
	</ion-list>
	<div *ngIf="loaded && !loadedNews.length">
		<div padding>
			<h4 text-center>Nenhuma notícia encontrada</h4>
			<h6 text-center class="msg-subtitle">Tente outro <button id="btn-filtro" small accent (click)="showFilterModal()">filtro</button></h6>
			<hr />
		</div>
	</div>
	<ion-infinite-scroll *ngIf="hasMorePages" (ionInfinite)="doInfinity($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>