<div class="state-tabelas">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Tabelas
                <small>
                    Alguns exemplos
                </small>
            </h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar por...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabelas Básicas <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Nome de Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pedro</td>
                                <td>João</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Silva</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela Stripped <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Nome de Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pedro</td>
                                <td>João</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Silva</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela com Realce nas Linhas <small>Tente passar o mouse sobre as linhas</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Nome de Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pedro</td>
                                <td>João</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Silva</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela com Bordas<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Nome de Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pedro</td>
                                <td>João</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Silva</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela condensada<small>Com linhas mais finas</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Nome de Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pedro</td>
                                <td>João</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Silva</td>
                                <td>@@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela com classes contextuais<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Nome de Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <th scope="row">1</th>
                                <td>Pedro</td>
                                <td>João</td>
                                <td>@@mdo</td>
                            </tr>
                            <tr class="success">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Silva</td>
                                <td>@@fat</td>
                            </tr>
                            <tr class="warning">
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>

                            <tr class="info">
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>

                            <tr class="danger">
                                <th scope="row">3</th>
                                <td>Marcos</td>
                                <td>Cunha</td>
                                <td>@@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela Responsiva <small>Diminua a resolução para abaixo de 768px</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Primeiro Nome</th>
                                    <th>Nome do Meio</th>
                                    <th>Último Nome</th>
                                    <th>Nome de Usuário</th>
                                    <th>idade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Pedro</td>
                                    <td>de Carvalho</td>
                                    <td>João</td>
                                    <td>@@mdo</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Santos</td>
                                    <td>Silva</td>
                                    <td>@@fat</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Marcos</td>
                                    <td>Santos</td>
                                    <td>Cunha</td>
                                    <td>@@twitter</td>
                                    <td>23</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tabela com <small>Design Customizado</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Configurações 1</a>
                                </li>
                                <li>
                                    <a href="#">Configurações 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <p>Adicionar class <code>bulk_action</code> para a tabela para realizar "bulk actions" quando selecionar linha</p>

                    <table class="table table-striped responsive-utilities jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Pedido </th>
                                <th class="column-title">Data do Pedido </th>
                                <th class="column-title">Compra </th>
                                <th class="column-title">Client</th>
                                <th class="column-title">Situação </th>
                                <th class="column-title">Quantidade </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Ação</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Ações ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="even pointer">
                                <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                                <td>121000040</td>
                                <td>23 de Maio de 2015, 11:47:56 PM </td>
                                <td>121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                <td>Mauro naves</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$7.45</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000039</td>
                                <td>23 de Maio de 2015, 11:30:12 PM</td>
                                <td>
                                    121000208 <i class="success fa fa-long-arrow-up"></i>
                                </td>
                                <td>Mauro naves</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$741.20</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000038</td>
                                <td>24 de Maio de 2015, 10:55:33 PM</td>
                                <td>
                                    121000203 <i class="success fa fa-long-arrow-up"></i>
                                </td>
                                <td>Ana Clara</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$432.26</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000037</td>
                                <td>24 de Maio de 2015, 10:55:33 PM</td>
                                <td>121000204</td>
                                <td>Ana Clara</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$333.21</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000040</td>
                                <td>24 de Maio de 2015, 11:47:56 PM </td>
                                <td>121000210</td>
                                <td>Mauro naves</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$7.45</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000039</td>
                                <td>24 de Maio de 2015, 11:47:56 PM</td>
                                <td>
                                    121000208 <i class="error fa fa-long-arrow-down"></i>
                                </td>
                                <td>Mauro naves</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$741.20</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000038</td>
                                <td>24 de Maio de 2015, 11:47:56 PM</td>
                                <td>121000203</td>
                                <td>Ana Clara</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$432.26</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000037</td>
                                <td>24 de Maio de 2015 11:47:56 PM</td>
                                <td>121000204</td>
                                <td>Ana Clara</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$333.21</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>

                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000040</td>
                                <td>27 de Maio de 2015, 11:47:56 PM </td>
                                <td>121000210</td>
                                <td>Mauro naves</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$7.45</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>121000039</td>
                                <td>24 de Maio de 2015, 11:47:56 PM</td>
                                <td>121000208</td>
                                <td>Mauro naves</td>
                                <td>Pago</td>
                                <td class="a-right a-right ">R$741.20</td>
                                <td class="last">
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



