<ion-view>
	<ion-nav-title>{{::vm.news.origin}}</ion-nav-title>
	<ion-nav-buttons side="left">
		<a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
			<i class="fa fa-arrow-left espm-back-button"></i>
		</a>
	</ion-nav-buttons>
	<ion-content id="state-news-detail">

		<md-content layout-padding class="espm-full-content">
			<img ng-src="{{::vm.news.image}}" class="md-card-image espm-img-noticia-detalhe" alt="">
			<div>
				<span md-colors="::{color: 'accent'}">
					{{::vm.news.origin}}
				</span>
				<span class="noticia-info-origem">
					{{ vm.news.date | date: 'dd/MM/yyyy' }}
				</span>
				<br>

				<small ng-if="!moment(vm.news.date).isSame(vm.news.lastModified, 'day')"
					   class="last-updated">Atualizada em: {{ vm.news.lastModified | date: 'dd/MM/yyyy' }}
				</small>
			</div>

			<h2>{{::vm.news.title}}</h2>
			<p ng-bind-html="::vm.news.body" class="news-body"></p>
			<!--<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button>NOTÍCIA ANTERIOR</md-button>
				<md-button>PRÓXIMA NOTÍCIA</md-button>
			</section>-->
		</md-content>

	</ion-content>
	<!--Dashboard section-->
</ion-view>