#about .accent {
	color: #c86673;
}
#about .md-mini-avatar { width: 20px; height:20px; margin-right: 10px;}
#about md-list { padding-top: 0;}
#about md-list .description{ padding-top:10px;padding-bottom: 10px;}
#about img#logo-prodest {
	margin-top: 20px;
    margin-bottom: 20px;
    max-width: 150px;
}

#about .component-spinner{
    text-align: center;
    margin: 10px;
}