#states-calendar-component-nav-buttons md-icon[md-font-icon] {
	font-size: 24px;
	color: #fff;
}

#states-calendar-component-nav-buttons .md-button.md-icon-button {
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
}

#states-calendar-component-nav-buttons md-input-container {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	vertical-align: top;
	color: #fff;
}

#states-calendar-component-nav-buttons ._md-select-value {
	min-width: 0;
	border: none;
	color: #fff;
}

#states-calendar-component-nav-buttons ._md-select-value span:not(._md-select-icon) {
	display: none !important;
}

#states-calendar-component-nav-buttons ._md-select-value ._md-select-icon:after {
	content: "\f38b";
	display: inline-block;
	font-family: "Ionicons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	webkit-transform: none;
	transform: none;
	font-size: 24px;
}