<ion-view title="Dashboard">
	<!--menu dashboard section-->
	<ion-content id="menu-dashboard-content">
		<!--panel section-->
		<div class="menu-panel">
			<div class="row">
				<div class="col-33" ng-click="vm.showConfirm()">
					<i class="fa fa-picture-o"></i>

					<p>Imagem</p>
				</div>
				<div class="col-33" ng-click="vm.showAlert()">
					<i class="fa fa fa-music"></i>

					<p>Música</p>
				</div>
				<div class="col-33" ng-click="vm.showToast('Câmera')">
					<i class="fa fa fa-camera"></i>

					<p>Câmera</p>
				</div>
			</div>

			<div class="row">
				<div class="col-33" ng-click="vm.showToast('Vídeo')">
					<i class="fa fa-video-camera"></i>

					<p>Vídeo</p>
				</div>
				<div class="col-33" ng-click="vm.showToast('Configurações')">
					<i class="fa fa-cog"></i>

					<p>Configurações</p>
				</div>
				<div class="col-33" ng-click="vm.showToast('Contrato')">
					<i class="fa fa-users"></i>

					<p>Contrato</p>
				</div>
			</div>

			<div class="row">
				<div class="col-33" ng-click="vm.showToast('Inbox')">
					<i class="fa fa-inbox"></i>

					<p>Inbox</p>
				</div>
				<div class="col-33" ng-click="vm.showToast('Card')">
					<i class="fa fa-credit-card"></i>

					<p>Card</p>
				</div>
				<div class="col-33" ng-click="vm.showToast('Mais')">
					<i class="fa fa-ellipsis-h"></i>

					<p>Mais</p>
				</div>
			</div>
		</div><!--end panel section-->

		<!--panel footer section-->
		<div class="menu-dashboard-footer">
			<md-whiteframe class="md-whiteframe-z1" layout ng-click="vm.showToast('Wordpress')">
				<div class="row">
					<div class="col-10">
						<i class="fa fa-wordpress"></i>
					</div>
					<div class="col-80">
						Wordpress
					</div>
					<div class="col-10">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-z1" layout ng-click="vm.showToast('Google')">
				<div class="row">
					<div class="col-10">
						<i class="fa fa-google-plus"></i>
					</div>
					<div class="col-80">
						Google
					</div>
					<div class="col-10">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-z1" layout ng-click="vm.showToast('Facebook')">
				<div class="row">
					<div class="col-10">
						<i class="fa fa-facebook"></i>
					</div>
					<div class="col-80">
						Facebook
					</div>
					<div class="col-10">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
			</md-whiteframe>

		</div><!--end panel footer section-->
	</ion-content><!--Menu dashboard section-->
</ion-view>
