#home-component {
	background-image: url("../shared/img/background.png");
	background-size: 100% 100%;
}

#home-component > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#home-component .espm-home-logo {
	text-align: center;
	margin-bottom: 35px;
}

#home-component img {
	width: 200px;
	height: 167px;
	justify-content: center;
}

#home-component h2 {
	color: #fff;
	margin-top: 7px;
}

#home-component button {
	display: block;
	width: 75%;
	padding: 10px 0px;
	font-size: 1.1em;
	font-weight: 500;
	color: #fff;
}