
#state-driver-license .bg-yellow {
    background-color: #fdc44a !important; 
}

#state-driver-license .md-raised.button-block{
   margin:20px 0px;
}

#state-driver-license img#img-cnh{
    max-width: 100%;
    margin-top: 5px;
}

#state-driver-license .question {
    margin-top: 5px;
    margin-bottom: 0;
}

#state-driver-license blockquote {
    margin: 0;
    border-left: 0px solid #c86673;
    padding: 0 0 10px 0;
}

#state-driver-license #disclaimer { text-align: center; }

#state-driver-license blockquote::before {
    content: none;
}

#state-driver-license .accent {
	color: #c86673;
}

#detran-register-license-dialog md-dialog-content md-input-container {
    margin: 5px 0 0 0 !important;
}

#detran-register-license-dialog input[type="number"] { border-bottom: 1px solid rgba(0,0,0,0.12); }
