<ion-view>
	<ion-nav-title>
		Situação CNH
	</ion-nav-title>
	<spinner ng-if="uiState.loading"></spinner>
	<ion-content id="state-driver-license">
		<div class="row">
			<div class="col">
				<h4 style="margin: 15px 0 10px 0; color: #a91f1f;">Sua CNH ainda não está cadastrada</h4>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px 0">
				<strong>
						Passo-a-passo:
					</strong> será realizado uma única vez.
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div>Clique no botão "Cadastrar CNH" e preencha o <span class="accent">n° de registro</span> e <span class="accent">cédula</span>
				da carteira, destacados na imagem abaixo.</div>
				<img id="img-cnh" ng-src="{{::vm.imgLicense}}" alt="">
				<md-button id="detran-btn-add-cnh" class="md-raised md-primary button-block" ng-click="vm.registerLicense()">Cadastrar CNH</md-button>
			</div>
		</div>
		<div class="row">
			<div class="col question"><strong> Porque o cadastro de CNH é necessário?</strong></div>
		</div>
		<div class="row">
			<div class="col">
				<blockquote>
					Por questões de segurança, para garantir a sua identidade.
				</blockquote>
				<blockquote>
					O cadastro irá permiti-lo visualizar a qualquer momento a situação da sua CNH, incluindo o histórico de multas.
				</blockquote>
			</div>
		</div>

		<div class="row question">
			<div class="col"><strong> Onde os dados da minha CNH serão salvos?</strong></div>
		</div>
		<div class="row">
			<div class="col">
				<blockquote>
					Na base do <a href="https://acessocidadao.es.gov.br/Conta/Entrar?ReturnUrl=%2f" target="_blank">Acesso Cidadão ES</a>,
					e podem ser removidos a qualquer momento.
				</blockquote>
			</div>
		</div>
		<error-message error="uiState.error"></error-message>
	</ion-content>
</ion-view>