<ion-view title="Consulta SEP">

	<div class="bar bar-subheader state-sep-subheader">
		<md-input-container md-no-float class="md-block md-whiteframe-2dp">
			<input ng-model="vm.processNumber" type="number" placeholder="Número do Processo">
			<md-icon style="display:inline-block;" ng-click="vm.getProcess(vm.processNumber)"><i class="fa fa-search" aria-hidden="true"></i></md-icon>
		</md-input-container>
	</div>

	<ion-content id="state-sep-consulta" class="md-espm-content has-subheader" scroll-watch scroll-class="fix-top" class-target=".state-sep-subheader"
		offset="25">
		<md-content class="md-padding">
		
			<div ng-show="vm.populated && !vm.hasProcess" layout="row" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
				<div class="md-padding" style="padding: 20px;">
					<div class="md-subhead">Nenhum processo encontrado</div>
					<div style="color: #999;">Verifique o número informado</div>
				</div>
			</div>
		</md-content>
	</ion-content>
	<!--Dashboard section-->
</ion-view>