#dio-search .ion-ios-download-outline:before {
    font-size: 25px;
    color: #c86673;
}


#dio-search .md-button {
    font-size: 12px;
    padding: 0 3px;
    line-height: 28px;
    min-height: 24px;
    min-width: 66px;
}


#dio-search md-list-item.md-2-line,
#dio-search md-list-item.md-2-line >._md-no-style {
	min-height: 50px;
}


#dio-search .accent {
	color: #c86673;
}

#dio-search blockquote {
    margin: 10px 0 15px 0px;
    padding: 5px 10px 10px 10px;
    border-left: 3px solid #ccc;
    font-size: 12px
}

#dio-search blockquote strong{
	color: #c86673;
}


#dio-search .md-list-item-text button {
	float: right;
	margin-top: -30px;
	width: auto;
}


#dio-search .md-list-item-text small {
	color: #666;
}

#dio-search-buttons md-icon[md-font-icon] {
    font-size: 24px;
    color: #fff;
}


#dio-search-filter md-dialog-content md-input-container {
    margin: 5px 0 0 0 !important;
}

#dio-search-filter md-dialog-content md-input-container:first-child {
    margin-top: 25px  !important;
}

#dio-search-filter input[type="date"] { border-bottom: 1px solid rgba(0,0,0,0.12); }