<md-dialog aria-label="List dialog" id="dates-filter-modal">
	<md-dialog-content class="md-padding">
		<div class="cb-dialog-content-label">Buscar no período <br></div>
		<label class="item item-input">
			<span class="input-label">De</span>
			<input type="date" ng-model="vm.dateMin">
		</label>
		<label class="item item-input">
			<span class="input-label">Até</span>
			<input type="date" ng-model="vm.dateMax">
		</label>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="vm.cancel()" class="md-primary">Cancelar</md-button>
		<md-button ng-click="vm.ok(vm.dateMin, vm.dateMax)" class="md-primary">Filtrar</md-button>
	</md-dialog-actions>
</md-dialog>