<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Destaques
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="news-highlights" no-padding>
  <ion-card *ngFor="let news of highlights">
    <img [src]="news.imageHighlight"/>
    <ion-card-content>
      <ion-card-title>
       {{news.title}}
      </ion-card-title>
       <p [innerHTML]="news.summary"></p>
       <ion-row no-padding="">
            <ion-col width-50>
               <span detail accent>{{news.origin}}</span>  <span detail>| {{ news.date | date:'dd/MM/yyyy' }}</span>
            </ion-col>
            <ion-col width-50 text-right>
              <button accent clear small (click)="goToNews(news.id, news.origin)">
                  <ion-icon name="book"></ion-icon>
                    Leia mais
                  </button>
            </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
