#news-highlights-component { background-color: #f1f1f1; }

#news-highlights-component .noticia-info-origem {
	margin-top: 10px;
	opacity: 0.5;
	font-size: 14px;
	font-weight: 500;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	line-height: 1.2;
}

#news-highlights-component md-card md-card-title md-card-title-media .md-media-md {
	height: auto !important;
	max-height: 112px;
}

#news-highlights-component md-card {
	display: block;
}

#news-highlights-component md-card md-card-content {
    padding-bottom: 0px;
}

#news-highlights-component md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):last-of-type {
    margin-bottom: 10px;
}
