<ion-view title="ES na Palma da Mão">

	<spinner ng-if="uiState.loading"></spinner>
	
	<ion-content id="news-highlights-component">
		<md-card ng-repeat="news in vm.highlights">
			<img ng-src="{{::news.imageHighlight}}" class="md-card-image" alt="">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{::news.title}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p ng-bind-html="news.summary"></p>
				
			</md-card-content>
			<md-card-actions layout="row" layout-align="space-between left" class="md-padding">
				<span class="noticia-info-origem">{{::news.origin}} | {{ ::news.date | fromNow }}</span>
				<md-button ng-click="vm.goToNews(news.id)" class="md-accent">LEIA MAIS</md-button>
			</md-card-actions>
		</md-card>
		<error-message error="uiState.error"></error-message>
	</ion-content>
</ion-view>
