<div ng-if="!uiState.loading && vm.error" class="error-wrapper" layout="column" layout-align="center center">

    <div class="img s{{vm.error.status}}" flex>
        <i ng-if="::vm.error.status === -1" class="fa fa-exclamation-circle"></i>
        <i ng-if="::vm.error.status === 400" class="fa fa-exclamation-circle"></i>
        <i ng-if="::vm.error.status === 401" class="fa fa-lock"></i>
        <i ng-if="::vm.error.status === 404" class="fa fa-times"></i>
        <i ng-if="::vm.error.status === 429" class="fa fa-hourglass-end"></i>
        <i ng-if="::vm.error.status === 498" class="fa fa-lock"></i>
        <i ng-if="::vm.isServerError" class="fa fa-exclamation-circle"></i>
    </div>

    <div ng-if="!vm.error.handled" class="error unexpected" layout="column" layout-align="center center">
        <div class="head" flex>{{vm.unhandledErrorMessage}}</div>
        <small class="accent" flex>{{vm.error.guid}}</small>
        <ng-transclude></ng-transclude>
    </div>
    <div ng-if="vm.error.handled" class="error" layout="column" layout-align="center center">
        <div class="head" flex>{{vm.error.message || vm.unhandledErrorMessage }}</div>
        <remark ng-if="vm.error.status === 401 || vm.error.status === 498">Acesse a tela de login para revalidar suas credenciais</remark>
        <ng-transclude></ng-transclude>
    </div>
</div>