.error-wrapper {
    border-bottom: 1px solid rgba(0,0,0,0.12);
        height: 100%;
  position: static;
}
.error-wrapper .md-subhead{ font-size: 18px;}
.error-wrapper .error{
    padding: 20px;
}

.error-wrapper .error .head{
    font-size: 18px;
    margin: 10px;
}

.error-wrapper .error.unexpected .head{
    color: #b90303;
    font-size: 22px;
}

.error-wrapper .error > *{
    text-align: center;
}

.error-wrapper .img{
    max-height: 130px;
    font-size: 10em;
    color: #d0d0d0;
}
