#login-content {
	margin-top: 140px;
}

.social-button{
    color: white !important;
    min-width: 200px;
}

/*md-content{
    margin-top: 50px !important; 
}
*/
input[type="password"], input[type="number"], input[type="date"], input[type="email"] {
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
}

.facebook-color {
  color: #3c5c99 !important; 
}

.facebook-background {
  background-color: #3c5c99 !important; 
}

.google-plus-color {
  color: #d73d32 !important;
}

.google-plus-color-background {
  background-color: #d73d32 !important; 
}

.digits-color {
  color: #444444 !important;
}

.digits-background {
  background-color: #444444 !important; 
}

