<ion-view title="Dashboard">
	<ion-content id="dashboard-component" class="espm-has-tabs-top" on-swipe-left="vm.navigateToTab('app.dashboard.calendar', 'left')">
		<ion-tabs class="tabs-text-top espm-tabs-color-active-material">
			<ion-tab title="DESTAQUES"
					 class="md-primary-color-bg"
					 on-select="vm.navigateToTab('app.dashboard.newsHighlights', 'right')">
				<ion-nav-view name="tab-news"></ion-nav-view>
			</ion-tab>

			<ion-tab title="AGENDA ES"
					 class="md-primary-color-bg"
					 on-select="vm.navigateToTab('app.dashboard.calendar', 'left')">
				<ion-nav-view name="tab-calendar"></ion-nav-view>
			</ion-tab>
		</ion-tabs>
	</ion-content>
</ion-view>
