<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="material-background-nav-bar">
			<ion-nav-buttons side="left">
				<a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="vm.toggleLeft()"></a>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="content"></ion-nav-view>
	</ion-side-menu-content>
	<md-sidenav md-component-id="left" on-swipe-left="vm.closeSideNav()" on-drag-left="vm.closeSideNav()">
		<!--template section-->
		<div class="material-background" id="toggle-menu-left-header">
			<!--template header section-->
			<div class="menu-left-header" ng-if="vm.authenticated">
				<img class="user-img" ng-src="{{::vm.avatarUrl}}">

				<p>
					<span class="title">{{::vm.user.nome}}</span>
					<!--<br/>
					<span class="sub-title">{{vm.perfil}}</span>-->
				</p>
			</div>
			<!--end template header section-->
		</div>
		<!--template content section-->
		<ion-content id="toggle-menu-left-content" has-bouncing="false" overflow-scroll="false">
			<md-list md-no-ink>
				<md-list-item class="menu-list-item" ng-click="vm.navigateTo('home')" ng-hide="vm.authenticated">
					<i class="fa fa-sign-in"></i>
					<span>Login</span>
				</md-list-item>
				<div ng-if="vm.authenticated">
					<div ng-repeat="group in menu.groups">
						<md-subheader class="md-accent">{{::group[0].group}}</md-subheader>
						<md-list-item class="menu-list-item" ng-repeat="route in group" ng-click="::vm.navigateTo(route)">
							<i class="{{::route.icon}}"></i>
							<span>{{::route.menuName}}</span>
						</md-list-item>
					</div>
					<md-divider></md-divider>
					<md-list-item class="menu-list-item" ng-click="vm.signOut()">
						<i class="ion-android-exit"></i>
						<span>Sair</span>
					</md-list-item>
				</div>
			</md-list>
		</ion-content>
	</md-sidenav>
</ion-side-menus>