#toggle-menu-left-header {
	height: 154px;
	background: url(img/background.png) no-repeat 0 0;
	color: white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	position: relative;
	background-size: 100%;
	z-index: 9000;
}

#toggle-menu-left-header div.menu-left-header {
	position: relative;
	top: 58%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 0 0 16px; }

#toggle-menu-left-header div.menu-left-header img.user-img {
	border-radius: 50%;
	width: 62px;
	height: 62px;
	margin-bottom: 2px;
	border: 2px solid rgba(255, 255, 255, 0.7);
	background-color: #fff;
}

#toggle-menu-left-header div.menu-left-header p {
	font-weight: bolder; }

#toggle-menu-left-header div.menu-left-header p span.title {
	font-size: 16px; }

#toggle-menu-left-header div.menu-left-header p span.sub-title {
	font-size: 12px; }

#toggle-menu-left-content {
	margin-top: 154px; }

#toggle-menu-left-content md-list h2 {
	background-color: transparent !important;
}

#toggle-menu-left-content md-list h2 div.md-subheader-inner {
	background-color: transparent !important;
}

#toggle-menu-left-content md-list md-list-item.menu-list-item {
	display: table;
	width: 100%;
}

#toggle-menu-left-content md-list md-list-item.menu-list-item i {
	margin-right: 30px;
	margin-left: 22px;
	font-size: 19px;
	color: gray;
	width: 20px;
}

#toggle-menu-left-content md-list md-list-item.menu-list-item span {
	font-size: 15px;
}

#toggle-menu-left-content .menu-list .menu-item {
	padding: 14px;
}

#toggle-menu-left-content .menu-list .menu-item .col-25 {
	text-align: center;
	font-size: 22px;
	color: gray;
}

#toggle-menu-left-content .menu-list .menu-item .col-75 {
	font-size: 15px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
