<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<!-- Meta section -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<meta name="format-detection" content="telephone=no"> <!-- To disable phone number typing.-->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
		<!-- end Meta section -->

		<title>ES na palma da mão</title>

		<!-- Cordova script (this will be a 404 during development) -->
		<!-- <script src="lib/ngCordova/dist/ng-cordova.js"></script>-->
		<script src="cordova.js"></script>
		<!-- end Cordova script -->

		<script src="lib/system.js"></script>
		<script src="system.config.js"></script>
		<script>
			System.import( 'components/app-core/app.css!' );
			System.import( 'components/app-core/menu.css!' );
			System.import( 'angular-material/angular-material.css!' );
			System.import( 'font-awesome' );
			System.import( 'robotoDraft/robotodraft.css!' );
		</script>
	</head>

	<body class="hide-native-scroll-y">
		<ion-nav-view></ion-nav-view>
		<script>
			System[ 'import' ]( 'components/app-core/index.js' );
		</script>
	</body>
</html>
