<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="material-background-nav-bar">
			<ion-nav-buttons side="left">
				<a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="vm.toggleLeft()"></a>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="content"></ion-nav-view>
	</ion-side-menu-content>
	<md-sidenav md-component-id="left" on-swipe-left="vm.closeSideNav()" on-drag-left="vm.closeSideNav()">
		<!--menu section-->
		<div class="material-background" id="toggle-menu-left-header">
			<!--menu header section-->
			<div class="menu-left-header" ng-show="vm.authenticated">
				<img class="user-img" ng-src="{{vm.user.avatarUrl}}">

				<p>
					<span class="title">{{vm.user.name}}</span>
					<!--<br/>
					<span class="sub-title">{{vm.perfil}}</span>-->
				</p>
			</div>
			<!--end menu header section-->
		</div>
		<!--menu content section-->
		<ion-content id="toggle-menu-left-content">

			<!--If device is android application will present below code.-->
			<!--It will disable animation to better performance on android.-->
			<!--list section-->
			<div ng-if="isAndroid" class="menu-list">
				<div class="row menu-item" ng-click="vm.navigateTo('app.login')" ng-hide="vm.authenticated">
					<div class="col-33">
						<i class="fa fa-database"></i>
					</div>
					<div class="col-66">
						<span>Login</span>
					</div>
				</div>
				<div ng-show="vm.authenticated">
					<md-subheader class="md-accent">Principal</md-subheader>
					<div class="row menu-item" ng-click="vm.navigateTo('app.principal')">
						<div class="col-33">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="col-66">
							<span>Principal</span>
						</div>
					</div>

					<div class="row menu-item" ng-click="vm.navigateTo('app.storage')">
						<div class="col-33">
							<i class="fa fa-database"></i>
						</div>
						<div class="col-66">
							<span>Storage</span>
						</div>
					</div>

					<div class="row menu-item" ng-click="vm.navigateTo('app.dashboard.noticia')">
						<div class="col-33">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="col-66">
							<span>DashBoard</span>
						</div>
					</div>

					<div class="row menu-item" ng-click="vm.navigateTo('app.noticia')">
						<div class="col-33">
							<i class="fa fa-newspaper-o"></i>
						</div>
						<div class="col-66">
							<span>Notícias</span>
						</div>
					</div>

					<div class="row menu-item" ng-click="vm.signOut()">
						<div class="col-33">
							<i class="fa fa-sign-out"></i>
						</div>
						<div class="col-66">
							<span>Sair</span>
						</div>
					</div>
				</div>
			</div>

			<!--If device is not Android application will present below code.-->
			<!--It will show animation when selecting row.-->
			<md-list ng-if="!isAndroid">
				<md-list-item class="menu-list-item" ng-click="vm.navigateTo('app.login')" ng-hide="vm.authenticated">
					<i class="fa fa-database"></i>
					<span>Login</span>
				</md-list-item>
				<div ng-show="vm.authenticated">
					<md-subheader class="md-accent">Principal</md-subheader>
					<md-list-item class="menu-list-item" ng-click="vm.navigateTo('app.principal')">
						<i class="fa fa-dashboard"></i>
						<span>Principal</span>
					</md-list-item>
					<md-list-item class="menu-list-item" ng-click="vm.navigateTo('app.storage')">
						<i class="fa fa-database"></i>
						<span>Storage</span>
					</md-list-item>
					<md-list-item class="menu-list-item" ng-click="vm.navigateTo('app.dashboard')">
						<i class="fa fa-dashboard"></i>
						<span>Dashboard</span>
					</md-list-item>
					<md-list-item class="menu-list-item" ng-click="vm.navigateTo('app.noticia')">
						<i class="fa fa-newspaper-o"></i>
						<span>Notícias</span>
					</md-list-item>
					<md-list-item class="menu-list-item" ng-click="vm.signOut()">
						<i class="fa fa-sign-out"></i>
						<span>Sair</span>
					</md-list-item>
				</div>
			</md-list>
			<!--end list section-->
		</ion-content>
		<!--end menu content section-->
		<!--end menu section-->
	</md-sidenav>
</ion-side-menus>
