<md-dialog aria-label="List dialog" id="dio-search-filter">
	<md-dialog-content class="md-padding">
		<md-input-container md-no-float class="md-block">
			<label>Palavra-chave</label>
			<input ng-model="vm.query" name="query" input-return> 

		</md-input-container>

		<md-input-container md-no-float class="md-block">
			<label>Data inicial</label>
			<input type="date" ng-model="vm.dateMin">
		</md-input-container>

		<md-input-container md-no-float class="md-block">
			<label>Data Final</label>
			<input type="date" class="md-input" ng-model="vm.dateMax">
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="vm.cancel()" class="md-primary">Cancelar</md-button>
		<md-button ng-click="vm.ok(vm.query, vm.dateMin, vm.dateMax)" class="md-primary">Filtrar</md-button>
	</md-dialog-actions>
</md-dialog>