<md-dialog aria-label="List dialog">
	<md-dialog-content class="md-padding">
		<div class="cb-dialog-content-label">Órgãos</div>
		<div class="cb-dialog-content-item select-all">
			<md-checkbox aria-label="Selecionar todos"
						 md-indeterminate="vm.isIndeterminate()"
						 ng-checked="vm.isChecked()"
						 ng-click="vm.toggleAll()">
				<span ng-if="vm.isChecked()">Desselecionar</span>
				<span ng-if="!vm.isChecked()">Selecionar</span> todos
			</md-checkbox>
		</div>
		<div class="cb-dialog-content">

			<div ng-repeat="origin in vm.availableOrigins track by origin"
				 class="cb-dialog-content-item">
				<md-checkbox ng-checked="vm.exists(origin, vm.selectedOrigins)"
							 ng-click="vm.toggle(origin, vm.selectedOrigins)"
							 aria-label="Selecionar">
					{{ origin }}
				</md-checkbox>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="vm.cancel()" class="md-primary">Cancelar</md-button>
		<md-button ng-click="vm.ok(vm.selectedOrigins)" class="md-primary">Filtrar</md-button>
	</md-dialog-actions>
</md-dialog>