<md-dialog aria-label="Register license dialog" id="detran-register-license-dialog">
	<md-dialog-content class="md-padding">
		<h4 class="text-center">Cadastro de CNH</h4>
		<md-input-container md-no-float class="md-block">
			<label>Nº de Registro</label>
			<input type="number" ng-model="vm.registerNumber" name="query" input-return>
		</md-input-container>
		<md-input-container md-no-float class="md-block">
			<label>Cédula (Nº Lateral)</label>
			<input type="number" ng-model="vm.ballot" input-return>
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="vm.cancel()" class="md-primary">Cancelar</md-button>
		<md-button ng-click="vm.ok(vm.registerNumber, vm.ballot)" class="md-primary">Cadastrar</md-button>
	</md-dialog-actions>
</md-dialog>