<ion-header>
	<ion-navbar primary>
		<ion-title>
			Acesse sua conta
		</ion-title>
	</ion-navbar>
</ion-header>

<!-- TODO -->
<style>
	#login-component form ion-list > .item&:last-child .item-inner {
		border-bottom: 1px solid #dedede;
	}

	#login-component .item-input.ng-valid.input-has-value::after {
		border-bottom-color: #dedede;
	}
</style>

<!--login content section-->
<ion-content id="login-component" primary>

	<!--login form section-->
	<form class="login-form">

		<ion-list>

			<ion-item>
				<ion-label floating>CPF ou E-mail</ion-label>
				<ion-input type="text" [(ngModel)]="user.username"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Senha</ion-label>
				<ion-input type="password" value="" [(ngModel)]="user.password"></ion-input>
			</ion-item>

		</ion-list>
		<!--</div>-->

		<a href="" (click)="openUrlForgotPassword()" class="espm-forgot-password">Esqueceu a Senha?</a>

		<button class="espm-login-button" (click)="login()" primary>ENTRAR</button>
	</form>
	<!--login form section-->

	<div class="other-login-options">
		<div class="hr-wrapper">
			<div class="hr"></div>
		</div>
		<div class="col espm-label-line">
			<span>Ou entre usando</span>
		</div>
		<div class="hr-wrapper">
			<div class="hr"></div>
		</div>
	</div>

	<div class="espm-social-button-wrapper">
		<button class="espm-social-button" (click)="facebookLogin()">
			<ion-icon name="logo-facebook"></ion-icon>
			Facebook
		</button>
		<button class="espm-social-button" (click)="googleLogin()">
			<ion-icon name="logo-googleplus"></ion-icon>
			Google
		</button>
		<button class="espm-social-button" (click)="digitsLogin()">
			<ion-icon name="phone-portrait"></ion-icon>
			SMS
		</button>
	</div>

</ion-content>
<!--end login content section-->