#login-component {
	background: url("img/background.png") 0 -44px;
	background-size: 100vw 100vh;
}

#login-component form {
	width: 100%;
	padding: 20px;
}

#login-component form md-input-container label {
	color: #fff;
}

#login-component button {
	padding: 10px 8px;
	font-size: 1.1em;
	font-weight: 500;
}

#login-component .espm-login-button {
	background-color: #fff;
	width: 100%;
	margin: 6px 0;
}

#login-component input {
	border-color: #eee;
	color: white;
	font-weight: 500;
}

#login-component input[type="password"], #login-component input[type="email"] {
	border-bottom: 1px solid #eee !important;
}

#login-component a.espm-forgot-password {
	color: white;
	float: right;
	font-size: 19px;
	margin-top: -20px;
	margin-bottom: 50px;
	text-decoration: none;
}

#login-component .hr {
	width: 100%;
	height: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, .25);
}

#login-component .other-login-options {
	padding: 0 20px;
}

#login-component .other-login-options .espm-label-line {
	flex: 1.7;
	text-align: center;
}

#login-component .other-login-options span {
	font-size: 17px;
	color: #fff;
}

#login-component .espm-social-button-wrapper {
	padding: 0 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#login-component .espm-social-button {
	padding: 4px 8px;
	color: #fff;
	text-transform: none;
	width: 44%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-component .espm-social-button .icon {
	margin-right: 5px;
}

#login-component .espm-social-button .icon:before {
	font-size: 3em;
	vertical-align: middle;
}
