<ion-view>
    <!--login content section-->
    <ion-content id="state-home">
        <div class="espm-home-logo">
            <img src="components/app-states/login/home/img/logo-es.png" alt="">
            <h2>ES na Palma da Mão</h1>
        </div>
        <md-button class="espm-register-button" ng-click="vm.createAccount()">CADASTRE-SE</md-button>
        <md-button class="espm-login-button" ng-click="vm.login()">ACESSE SUA CONTA</md-button>

    </ion-content>
    <!--end login content section-->
</ion-view>