<ion-header>
	<ion-navbar primary>
		<button menuToggle>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Situação CNH
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content id="driver-license-status-component">

	<ion-card *ngIf="!!driverData" [ngClass]="{ 'bg-green-70': licenseOk, 'bg-red-70': licenseBlocked, 'bg-pink-70': licenseExpired, 'bg-yellow-70': licenseRenew }">
		<div *ngIf="!licenseBlocked && !licenseRenew && !licenseExpired">
			<div class="card-title">Diriga com segurança</div>
			<div class="card-subtitle">CNH válida até {{driverData.expirationDate | date:'dd/MM/yyyy'}}</div>
		</div>
		<div *ngIf="licenseExpired && !licenseBlocked">
			<div class="card-title">Quase na hora de renovar</div>
			<div class="card-subtitle">Expira {{driverData.expirationDate | fromNow:true}}</div>
		</div>
		<div *ngIf="licenseRenew && !licenseBlocked">
			<div class="card-title">Renove sua CNH</div>
			<div class="card-subtitle">Expirou à {{driverData.expirationDate | fromNow:true}}</div>
		</div>
		<div *ngIf="licenseBlocked">
			<div class="card-title">CNH Bloqueada</div>
			<div class="card-subtitle">{{driverData.blockMotive}}</div>
		</div>
	</ion-card>


	<!-- ticket list -->
	<ion-list *ngIf="!!tickets">
		<ion-list-header>
			Histórico de Multas <span *ngIf="lastYearPoints > 0">- {{lastYearPoints}} Pontos </span>
		</ion-list-header>
		<ion-item *ngFor="let ticket of tickets;" class="ticket">
			<ion-avatar item-left>
				<div class="bg-{{ getClassificationColor( ticket.classification ) }}">{{ticket.points}}</div>
			</ion-avatar>
			<h2> {{ticket.classification | capitalize}} - {{ticket.date | date:'dd/MM/yyyy'}} </h2>
			<p> {{ticket.place | capitalize}}, {{ticket.district | capitalize}} </p>
			<p class="placa"><strong>Placa: {{ticket.plate}}</strong> </p>
		    <p>{{ticket.description}}</p>
		</ion-item>
	</ion-list>

	<div *ngIf="!!tickets && !tickets.length">
		<div padding>
			<h4 text-center>Nenhuma multa encontrada</h4>
			<hr />
		</div>
	</div>
</ion-content>