#state-driver-license-status {
    background-color: rgb(250,250,250);
}

#state-driver-license-status .bg-green {
    background-color: #4CAF50;
}

#state-driver-license-status .bg-green-70 {
    background-color: rgba(76, 175, 80, 0.7);
}

#state-driver-license-status .bg-pink {
    background-color: #E57373;
}

#state-driver-license-status .bg-pink-70 {
    background-color: rgba(229, 115, 115, 0.7);
}

#state-driver-license-status .bg-yellow {
    background-color: #fdc44a; /*#FFEB3B;*/
}

#state-driver-license-status .bg-yellow-70 {
    background-color: rgba(253, 196, 74, 0.7);
}

#state-driver-license-status .bg-red {
    background-color: #F44336;
}

#state-driver-license-status .bg-red-70 {
    background-color: rgba(244, 67, 54, 0.7);
}

#state-driver-license-status .bg-black {
    background-color: #000;
}

#state-driver-license-status .bg-black-70 {
    background-color: rgba(0, 0, 0, 0.7);
}

#state-driver-license-status .card-driver-license {
    transition: all 1s;
}

#state-driver-license-status .card-driver-license i {
    font-size: 2.8em;
}

#state-driver-license-status .card-driver-license md-card-title-text,
#state-driver-license-status .card-driver-license md-card-content,
#state-driver-license-status .center {
    text-align: center;
}

#state-driver-license-status .avatar-points {
    color: #fff;
    padding: 9px 10px;
    font-size: 2.5em;
}

#state-driver-license-status md-list {
    padding-top: 0;
}

#state-driver-license-status md-list md-list-item {
    transition: all 1s;
    flex-direction: column;
}

#state-driver-license-status md-list md-list-item .list-item-summary {
    display: flex;
    flex: 1 1 auto;
}

#state-driver-license-status md-card md-card-header md-card-avatar {
    margin-right: 20px;
}

#state-driver-license-status .tickets-history {
    margin-top: 10px;
    margin-bottom: 0;
}