#state-driver-license-status .ticket .avatar-points {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    font-size: 3em;
    padding: 15px 11px 13px 13px;
    color: #fff; 
}

#state-driver-license-status .bg-green {
    background-color: #4CAF50;
}

#state-driver-license-status .bg-green-70 {
    background-color: rgba(76, 175, 80, 0.7);
}

#state-driver-license-status .bg-pink {
    background-color: #E57373;
}

#state-driver-license-status .bg-pink-70 {
    background-color: rgba(229, 115, 115, 0.7);
}

#state-driver-license-status .bg-yellow {
    background-color: #fdc44a; 
}

#state-driver-license-status .bg-yellow-70 {
    background-color: rgba(253, 196, 74, 0.7);
}

#state-driver-license-status .bg-red {
    background-color: #F44336;
}

#state-driver-license-status .bg-red-70 {
    background-color: rgba(244, 67, 54, 0.7);
}

#state-driver-license-status .bg-black {
    background-color: #000;
    color: #fff;
}

#state-driver-license-status .bg-black-70 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#state-driver-license-status .accent {
	color: #c86673;
}

#state-driver-license-status .ticket small {
    font-size: 85%;
    margin: 10px 0;
    display: block;
    color: rgba(0,0,0,0.54);
}

#state-driver-license-status md-card-avatar {
    font-size: 35px;
    padding-top: 3px;
}