<ion-view>
	<ion-nav-title>Histórico de Multas</ion-nav-title>
	<ion-nav-buttons side="left">
		<a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
			<i class="fa fa-arrow-left espm-back-button"></i>
		</a>
	</ion-nav-buttons>
	<div class="spinner" ng-if="uiState.loading">
		<ion-spinner icon="android"></ion-spinner>
	</div>
	<ion-content id="vehicle-tickets" class="md-espm-content">
		<md-content>
			<md-list>
				<md-subheader ng-if="vm.ticketsPopulated && vm.hasTickets" class="md-no-sticky">
					<div style="margin-bottom:10px;"><span class="accent"> Placa: {{vm.vehicle.placa}}</span></div>
					{{ vm.tickets.length }} multas encontradas
				</md-subheader>
				<md-list-item class="md-3-line ticket" ng-repeat="ticket in vm.tickets track by $index">
					<div class="md-list-item-text md-padding" layout="row">
						<div flex="20">
							<div class="avatar-points bg-{{::vm.getClassificationColor( ticket.classification ) }}">{{::ticket.points}}</div>
						</div>
						<div flex="80">
							<h4 flex>{{::ticket.classification | capitalize}} - {{::ticket.date | calendar}}</h4>
							<p>
								{{::ticket.place | capitalize}}, {{::ticket.district | capitalize}}
							</p>
							<small>{{::ticket.description}}</small>
						</div>
					</div>
					<md-divider></md-divider>
				</md-list-item>
				<div ng-if="!uiState.loading && vm.ticketsPopulated && !vm.hasTickets" layout="row" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
					<div class="md-padding" style="padding: 20px;" layout="column" layout-align="center center">
						<div class="md-subhead" flex>Nenhuma multa encontrada para a placa</div>
						<div class="accent" flex>{{vm.vehicle.placa}}</div>
					</div>
				</div>
			</md-list>
		</md-content>
	</ion-content>
</ion-view>