<ion-view title="">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--toolbar section-->
	<md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
		<span flex></span>
		<!--<h1 style="text-align: center;font-size: 31px;">ES na palma da mão</h1>-->

		<!--<a class="md-button md-accent md-fab fab-toolbar-medium">
			<i class="icon ion-plus"></i>
		</a>-->
		
		<h1 class="md-toolbar-tools md-toolbar-tools-bottom">
        	<span class="md-flex">Acesso ES</span>
      	</h1>
           
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        	<span class="md-flex">Validar E-mail</span>
      	</h2>
          
	</md-toolbar><!--end toolbar section-->

    <!--login content section-->
    <ion-content id="login-content" class="bg-white">
        <!--login form section-->
        <md-content layout-padding layout="column">
            <p>
                Enviamos uma mensagem com um codígo de ativação para o e-mail informado no cadastro.
                <br /> 
                Favor inserir o código recebido no campo abaixo para finalizar o cadastro.
            </p>
            <form class="login-form">
                <h3>Código de Ativação</h3>        
            <!--<div id="input-login">-->
                <md-input-container md-no-float class="md-block">
                    <input placeholder="Código Ativação" ng-model="vm.usuario.codigoEmail">
                </md-input-container>
                
                <md-button class="md-raised md-primary" ng-click="vm.validarCodigoAtivacao()">Validar</md-button>
            <!--</div>-->
            </form> <!--login form section-->
        </md-content>
    </ion-content><!--end login content section-->
</ion-view>