<ion-view title="CPF Cadastrado">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content class="bg-white">
        <!--login form section-->
        <md-content layout-padding layout="column">
            <p>
                CPF já está cadastrado no Acesso Cidadão.
                <br />
                Se não lembra mais a sua senha, você pode reinicia-la. (Você vai precisar ter acesso ao e-mail utilizado no cadastro)
                <md-button class="md-raised md-primary" ng-click="vm.reiniciarSenha()">Reiniciar Senha</md-button>
                <br />
                Você também pode tentar entrar utilizando o celular ou redes sociais, caso estejam cadastrados na sua conta. 
                <md-button class="md-raised md-primary" ng-click="vm.goToLogin()">Ir para o Login</md-button>
                <br />
                Caso não tenha mais acesso ao e-mail utilizado no cadastro, por favor, clique no botao abaixo e siga as instruções para recuperar o acesso da sua conta.
                <br />
                <md-button class="md-raised md-primary" ng-click="vm.recuperarConta()">Recuperar Conta</md-button>
            </p>
        </md-content>
    </ion-content><!--end login content section-->
</ion-view>
