<ion-view title="Cadastro">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content class="bg-white">
        <!--login form section-->
        <md-content layout-padding layout="column">
            <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        	    <span class="md-flex">Cadastro no Acesso ES</span>
      	    </h2>
            
            <p>
                Para poder se inscrever em serviços e programas ofertados pelo Estado do Espírito Santo é necessário ter uma conta no Acesso Cidadão.
                <br /> 
                Siga as etapas abaixo abaixo para criar sua conta.
            </p>
            <form class="login-form">
                <h3>Verificar CPF</h3>        
            <!--<div id="input-login">-->
                <md-input-container md-no-float class="md-block">
                    <input placeholder="CPF" ng-model="vm.usuario.cpf">
                </md-input-container>
                
                <md-button class="md-raised md-primary" ng-click="vm.verificaCpf()">Proximo</md-button>
            <!--</div>-->
            </form> <!--login form section-->
        </md-content>
    </ion-content><!--end login content section-->
</ion-view>
