<ion-view title="">
    <!--left button on navigation bar-->
    <!--<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>--><!--end left button on navigation bar-->

    <!--toolbar section-->
	<md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
		<span flex></span>
		<!--<h1 style="text-align: center;font-size: 31px;">ES na palma da mão</h1>-->

		<!--<a class="md-button md-accent md-fab fab-toolbar-medium">
			<i class="icon ion-plus"></i>
		</a>-->
		
		<h1 class="md-toolbar-tools md-toolbar-tools-bottom">
        	<span class="md-flex">ES na Palma da Mão</span>
      	</h1>
          
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        	<span class="md-flex">Acesso</span>
      	</h2>
          
	</md-toolbar><!--end toolbar section-->

    <!--login content section-->
    <ion-content id="login-content" class="bg-white">
    
        <!--login form section-->
        <form class="login-form">
            <md-content layout-padding layout="column">
                <!--<div id="input-login">-->
                    <md-input-container md-no-float class="md-block">
                        <input placeholder="Usuário" ng-model="vm.username">
                    </md-input-container>
                    
                    <md-input-container md-no-float class="md-block">
                        <input type="password" placeholder="Senha" ng-model="vm.password">
                    </md-input-container>
                <!--</div>-->
            </md-content>
            <md-button class="md-raised md-primary" ng-click="vm.getToken()">Entrar</md-button>
        </form> <!--login form section-->

        <div>
            <md-button class="md-raised" ng-click="vm.criarConta()">
                Criar conta
            </md-button>
            <br />
            <md-button class="md-raised social-button google-plus-color-background" ng-click="vm.googleLogin()">
                Entrar com o Google
            </md-button>
            <br />
            <md-button class="md-raised social-button facebook-background" ng-click="vm.facebookLogin()">
                Entrar com o Facebook
            </md-button>
        </div>
        
    </ion-content><!--end login content section-->
</ion-view>
